<div class="col-sm-2">
	{{ form_row(item.wearType) }}
</div>
<div class="col-sm-2">
{{ form_row(item.size) }}
</div>
<div class="col-sm-2">
{{ form_row(item.colour) }}
</div>
<div class="col-sm-2">
{{ form_row(item.sex) }}
</div>
<div class="col-sm-2">
{{ form_row(item.price) }}
</div>