{% extends "::layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'task.new.title' | trans }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block body %}
{{ parent() }}
<div class="container">
<h3>{{ 'task.new.title' | trans }}</h3>


{{ form_start(form) }}  
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			{{ form_row(form.Client) }}
		</div>
		<div class="col-sm-2">
			<label>{{ 'task.clientNew' | trans }}</label><br>
			<a href="{{ url('new_client') }}" class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{ 'task.new.add' | trans }}</a>	
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-3">
			{{ form_row(form.startDate) }}
		</div>
		<div class="col-sm-3">		
        	{{ form_row(form.endDate) }}
		</div>
		<div class="col-sm-3">	
			{{ form_row(form.taskStatus) }}
		</div>
		<div class="col-sm-3">	
			{{ form_row(form.falla) }}
		</div>
	</div>
</div>
<div class="form-group">	
	<div class="row">
			<div class="col-sm-4">		
        	{{ form_row(form.comment) }}
		</div>
        <div class="col-sm-3">      
            {{ form_row(form.statusPay) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.accountPrice) }}           
        </div>
	</div>
</div>
<div class="form-group">	
	<div class="row">	
		<div class="col-sm-3">		
        	{{ form_row(form.priceFull) }}
		</div>
		
	</div>
</div>

<h3>Productos</h3>
<ul class="tags list-unstyled"  data-prototype="
    {% filter escape %}
        {{ include ('prototype.html.twig', {'item': form.linetasks.vars.prototype.products.vars.prototype} )}}
        {{ include ('prototype2.html.twig', {'item': form.linetasks.vars.prototype} )}}
    {% endfilter %}">
</ul>
    {{ form_row(form.save) }}     
{{ form_end(form) }}
</div>


	
{% block javascripts %}
    {% javascripts 
        '@AppBundle/Resources/public/js/jqueryformcollection.js'
        '@AppBundle/Resources/public/js/jquerydata.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
       {{ parent() }}
{% endblock %}
{% endblock %}

