{% extends "::layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'task.new.title' | trans }}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ form_stylesheet(form) }}
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
{{ parent() }}
<div class="container">
<h3>{{ 'task.new.title' | trans }}</h3>


{{ form_start(form) }}  
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			{{ form_row(form.client) }}
		</div>
		<div class="col-sm-2">
			<label>Telefono</label><br>
			<input id="phone" name="task[Phone]" class="form-control" type="text" value= "">	
		</div>
		<div class="col-sm-2">
			<label>{{ 'task.clientNew' | trans }}</label><br>
			<a href="{{ url('new_client') }}" class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{ 'task.new.add' | trans }}</a>	
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-3">
			{{ form_row(form.startDate) }}
		</div>
		<div class="col-sm-3">		
        	{{ form_row(form.endDate) }}
		</div>
		<div class="col-sm-3">	
			{{ form_row(form.taskStatus) }}
		</div>
		<div class="col-sm-3">	
			{{ form_row(form.falla) }}
		</div>
	</div>
</div>
<div class="form-group">	
	<div class="row">
			<div class="col-sm-4">		
        	{{ form_row(form.comment) }}
		</div>
        <div class="col-sm-3">      
            {{ form_row(form.statusPay) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.accountPrice) }}           
        </div>
	</div>
</div>
<div class="form-group">	
	<div class="row">	
		<div class="col-sm-3">		
        	{{ form_row(form.priceFull) }}
		</div>
		
	</div>
</div>

<h3>Productos</h3>
<ul class="tags list-unstyled" data-prototype="

	{% filter escape %}
        {{ include ('prototype.html.twig', {'item': form.linetasks.vars.prototype} )}}
    {% endfilter %}">
    
</ul>
    {{ form_row(form.save) }}     
{{ form_end(form) }}
</div>


	
{% block javascripts %}
    {% javascripts 
        '@AppBundle/Resources/public/js/jqueryformcollection.js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
 	{{ form_javascript(form) }}

	<script type="text/javascript">
		$(function(){
   		$("#appbundle_task_client").autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: "{{ path('autocomplete') }}",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function( data ) {
            response( data );
            
          }
        } );
      },
      minLength: 2,
      select: clienteSeleccionado, /* esta es la rutina que extrae el cliente seleccionado */
      
    } );
		$('#appbundle_task_endDate').datepicker({ minDate: 0 });
		$('#appbundle_task_endDate').datepicker('option', {dateFormat: 'dd/mm/yy'});
	 	$(document).on('change','#appbundle_task_linetasks_0_products', function() {
	 		var selec = $(this).text();
	 		alert(selec);
	 	});
		});
		
		function clienteSeleccionado(event, ui)
		{
    		var nombre = ui.item.value;
    		var telefono = ui.item.value;
		 	
		    // no quiero que jquery despliegue el texto del control porque 
		    // no puede manejar objetos, asi que escribimos los datos 
		    // nosotros y cancelamos el evento
		    // (intenta comentando este codigo para ver a que me refiero)
		    $("#appbundle_task_client").val(nombre.name);
		    $("#phone").val(telefono.phone);
		    event.preventDefault();
		}
		function calculaLinea(){
			

			$('#appbundle_task_linetasks_0_products').change(function(event) {
				var str = "";
    			$( "#appbundle_task_linetasks_0_products option:selected" ).each(function() {
      			str += $( this ).text() + " ";
      			console.log($str);
    			});
			});
			
		}
		
	</script>
{% endblock %}
{% endblock %}

